= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .item
    = f.label :name
    = f.text_field :name
  .item
    = f.label :real_name
    = f.text_field :real_name
  .item
    = f.label :password
    = f.password_field :password
  .item
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .item
    = hidden_field_tag "user[location]", @user.location.to_s

  .item
    #map
  .actions
    = f.submit 'Save'
