%h1 Listing users

= form_tag({:action => :login, :method => :post}) do
  %div.item
    = label_tag :name, 'User Name :'
    = text_field_tag :name
  %div.item
    = label_tag :password, 'Password :'
    = password_field_tag :password
  %div.item
    = submit_tag 'Login'

= link_to 'New User', new_user_path
