= form_for @area do |f|
  - if @area.errors.any?
    #error_explanation
      %h2= "#{pluralize(@area.errors.count, "error")} prohibited this area from being saved:"
      %ul
        - @area.errors.full_messages.each do |msg|
          %li= msg
  .item
    = f.label :name
    = f.text_field :name
  = hidden_field_tag "area[area]", @area.area.to_s
  .item
    #map
    :javascript
      init_editable_map("#area_area");
      insert_vector("#area_area");
          
  .actions
    = f.submit 'Save'
